* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.trackView {
    border: solid 1px #28443F;
    border-radius: 10px;
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.08)0%,
                rgba(255, 255, 255, 0.03)100%);
    backdrop-filter: blur(10px) saturate(120%);
    overflow: hidden;

}
.trackView .packageDetails {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    backdrop-filter: blur(10px);
    background: rgba(70, 131, 70, 0.575);
    font-size: clamp(1rem, 2vw, 1.5rem);
}
.packageDetails .detailsContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.packageDetails p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.packageDetails p strong {
    color: #fff;
    font-weight: 400;
}
.packageDetails p span {
    margin-left: 10px;
}
.packageDetails button {
    border: none;
    width: 40px;
    padding: 5px;
    border-radius: 5px;
    font-size: large;
    background-color: #28443F;
    color: #F2FD7D;
}


.trackView .trackContainer {
    border-radius: 10px;
    width: 40%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #28443fe7;
    backdrop-filter: blur(5px);
    box-shadow: 0 6px 20px rgba(2, 6, 23, 0.6), 
                inset 0 1px 0 rgba(255, 255, 255, 0.03);
}
.trackContainer h4 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
h4 div:nth-child(1) {
    font-size: x-large;
    font-weight: 500;
    color: #F2FD7D;
}
h4 div:nth-child(2) {
    border: solid 1px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2FD7D;
}

.trackContainer form {
    border: solid 1px #F2FD7D;
    margin-top: 5px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
form div {
    display: flex;
    width: 95%;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}
div label {
    width: 100%;
    font-size: large;
    font-weight: 500;
    color: #F2FD7D;
}
div input {
    width: 100%;
    height: 15px;
    font-size: large;
}
form button {
    width: 95%;
    margin-bottom: 10px;
    height: 30px;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
    background: #F2FD7D;
    color: #28443F;
    transition: 0.4s;
}
form button:hover {
    border: solid 1px #F2FD7D;
    background: #28443F;
    color: #fff;
}


@media (max-width: 1000px) {
    .trackView .trackContainer {
        width: 85%;
    }
    .trackView .detailsContainer {
        width: 90%;
    }
}