*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.orderView {
    width: 100%;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bae9d2 !important;
}
.orderView .orderContainer {
    border-radius: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    padding: 15px 15px;
}
form div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: 600;
    margin-top: 20px;
}
.orderContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px;
    transform: translateX(100px);
    opacity: 0;
    animation: bikeViewAnim 1.1s 0.8s ease-in-out forwards;
}
form p{
    font-size: larger;
    font-weight: bold;
    color: hsl(152, 42%, 19%);
}
form select{
    padding: 6px 10px;
    border-radius: 10px;
    font-size: larger;
    color: #1C4532;
    outline: none;
}
form label {
    padding: 0 5px;
}
form input {
    padding: 10px 10px;
    color: #1C4532;
    outline: none;
}
form .submitBtn:hover{
    transform: scale(0.97);
}

/*POP UP MESSAGE*/
.popView {
    position: fixed;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: popupIntronAnim 1.2s ease-in-out;
    z-index: 1;
}

.popView .container {
    box-shadow: 2px 2px 15px #1C4532;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px;
    line-height: 30px;
    border-radius: 20px;
    background-color: rgb(188, 233, 188);
}
.container .success {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: green;
}
.container .from {
    color: #1C4532;
}
.container .to {
    color: #1C4532;
}
.container .instruct {
    font-family: cursive;
    color: green;
}
.container .option {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.option span:nth-child(1) {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    border-radius: 50%;
    color: #1e523a;
    background: #fff;
    cursor: pointer;
    animation:  whatsappScaleAnim 2s ease-in-out alternate-reverse infinite;
    transition: 0.3s;
}
.option span:nth-child(1):hover{
    transform: scale(1.1);
}
.option span:nth-child(2) {
    color: red;
    cursor: pointer;
    font-size: xx-large;
    transition: 0.3s;
}
.option span:nth-child(2):hover{
    transform: scale(1.1);
}

@keyframes bikeViewAnim {
    from {transform: translateX(100px) scale(0.8); opacity: 0; }
    to {transform: translateX(0) scale(1); opacity: 1;}
}
@keyframes whatsappScaleAnim {
    from {transform: scale(0.9)}
    to {transform: scale(1.2);}
}
@keyframes popupIntronAnim {
    from {transform: translateY(-1200px);}
    to {transform: translateY(0);}
}

@media (max-width:650px) {
    .orderView .orderContainer {
        width: 90%;
    }
    .icon img {
        width: 30%;
    }
    .orderContainer .container {
        width: 75%;
    }
    .popView .container {
        width: 70%;
    }
}