*{
    padding: 0;
    margin: 0;
}
.loginView {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bae9d2 !important;
}
.loginView .loginContainer{
    width: 45% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px !important;
    border-radius: 20px;
    backdrop-filter: blur(10px) saturate(120%) !important;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.08)0%, 
                rgba(255, 255, 255, 0.03)100%) !important;
    box-shadow: 0 6px 20px rgba(2, 6, 23, 0.6),
                inset 0 1px 0 rgba(255, 255, 255, 0.02) !important;
    transition: transform 220ms cubic-bezier(0.2, 0.9, 0.2, 1),
                box-shadow 220ms !important;
}
.loginContainer p:nth-child(1) {
    width: 100%;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}
.loginContainer .alertMsg {
    font-size: larger;
    font-weight: 600;
}
.loginContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1%;
    width: 68%;
    min-width: 320px;
}
form label {
    margin-top: 2%;
}
form .loginBtn {
    border: none;
    padding: 2% 0;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    border-radius: 5px;
    color: #fff;
    background: #2F855A;
    transition: 0.2s;
    cursor: pointer;
}
form .loginBtn:hover {
    box-shadow: 2px 2px 20px #1C4532;
}

.loginContainer .noAccount {
    margin-top: 1.5%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.noAccount a{
    text-decoration: none;
    color: green;
}


@media (max-width: 700px) {
    
    .loginView .loginContainer {
        width: 85% !important;
    }
}